{% extends "base.html" %}
{% block title %} Messages {% endblock %}
{% block content %}

  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/palette.css') }}">
  </head>

  {% if study_groups %}
    <h2>Group Conversations</h2>
    <div>
    {% for group in study_groups %}
      <p><a href='{{ url_for('viewGroupMessages', study_group_id=group.get_id()) }}'> {{ group.get_name() }} </a></p>
    {% endfor %}
    </div>
  {% endif %}

  {% if conversations %}
    <h2>Ongoing Conversations</h2>
    <div>
    {% for student in conversations %}
      <p><a href='{{ url_for('viewDirectMessages', user_id=student.get_id()) }}'> {{ student.get_name() }} </a></p>
    {% endfor %}
    </div>
  {% endif %}

  <h2>Start a Conversation</h2>
  <div>
  {% for student in new_conversations %}
   <p><a href='{{ url_for('viewDirectMessages', user_id=student.get_id()) }}'> {{ student.get_name() }} </a></p>
  {% endfor %}
  </div>

{% endblock %}
